h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #141414;
    text-align: center;
}
html{
    margin: 10% 10%;
    height: 100%;
    background-color: #141414;
    background-image: url('../src/LOGO\ NOBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
